// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FONTAWESOME
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fa-edit {

  font-size: 30px;
  margin-left: 10px;
}

ul {

  list-style: none;
}

.wrap {

  height: 100vh;
}
